<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new task</title>
</head>
<body>
  <form>
    <label for="title">Title</label>
    <input type="text" id="title" placeholder="new title">
    <br>
    <label for="description">Description</label>
    <TEXTAREA name="description" id="description" rows=4 cols=40 placeholder="type a description"></TEXTAREA>
    <br>
    <label for="task-select">Assign to</label>
    <select name="tasks" id="task-select">
        <option value="todo">TODO</option>
        <option value="in progress">IN PROGRESS</option>
        <option value="review">REVIEW</option>
        <option value="done">DONE</option>
    </select>
    <br>

    <button id="cancel" type="cancel">Cancel</button>
    <button type="submit">Create</button>
  </form>
  
    Title: <input id="title"/>
    <button id="btn" type="button">Set</button>

  <script src="../script/renderer-kanban.js"></script>
</body>
</html>