$main: #32474b;
$grey1: #F1F3FA;

* {
    box-sizing: border-box;
    margin: 0px;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto';
    font-size: 18px;
    background-color: $grey1;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    color: $main;
}

h1{
    font-size: 24px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    column-gap: 20px;
}

ul {
    list-style-type: none;
    display: block;
    padding: 10px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: $grey1;
    border-radius: 5px;
    width: 175px;
    min-width: 175px;
    height: fit-content;

    h3{
        font-size: 16px;
    }
}

li:not(:first-of-type){
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    min-height: 30px;
    padding: 10px;

    p{
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

button{
    background-color: white;
    border: 2px solid $main;
    margin: 5px;
    width: 22px;
    font-size: 12px;
    padding: 0px;

    &:hover{
        background-color: $main;
        color: white;
    }
}

.modify{
    width: 86px;
}

.no-task{
    margin-top: 30px;
    text-align: center;
}

form{
    div{
        margin-bottom: 3px;
    }

    input,select{
        border: 2px solid $main;
        font-family: 'Roboto';
        padding: 2px;
        font-size: 16px;
    }

    button{
        width: fit-content;
        font-family: 'Roboto';
        padding: 3px;
        margin-left: 0px;
        font-size: 18px;
    }
}